header {
    width: 100%;
    .logo-main {
      background-image: url('../../assets/logo.png');
      width: 40px;
      height: 40px;
      align: top;
      background-size: contain;
      background-repeat: no-repeat;
    }
  .logo-small {
    background-image: url('../../assets/logo.png');
    width: 15px;
    height: 15px;
    background-size: contain;
    background-repeat: no-repeat;
  }

    .example-spacer {
      flex: 1 1 auto;
    }
    .title {
      color: black;
      font-family: Dosis, sans-serif;
      font-size: 30px;
      align: middle;
      text-decoration: none;
      font-weight: bold;
    }
    .visit-team-page-link {
      color: black;
      font-family: Dosis, sans-serif;
      font-size: 17px;
      text-decoration: none;
    }

  .email-link {
    color: black;
    font-family: Dosis, sans-serif;
    font-size: 17px;
    text-decoration: none;
  }

    .mat-toolbar {
      background: white;
      border: 0.75vh solid #b3cccc;
      height:10vh;

    }
    .mat-icon {
      vertical-align: middle;
      //margin: 0 5px;
    }
    a {
      cursor: pointer;
    }
  div {
    display: flex; /* make element size relative to content */
    align-items: center; /* vertical alignment of contents */
  }
  }
