body {
  .example-spacer {
    flex: 1 1 auto;
    flex-direction: column;
  }

  .leftSide {
    background-color: #F4F7FA  ;
    text-align: left;
    width: 30%;
    overflow-y: scroll;
    height:90vh;
  }

  .findRecipes {
    background-color: #F6C47F;
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    cursor: pointer;
    width:90%;
    margin: 5px 20px;
    font-family: "Dosis", cursive, sans-serif;
  }

  /* ---------the ingredients list--------*/
  fieldset.group  {
    margin-top: 7px;
    padding: 0;
    border-color: #E8E9E3;
    border-style: solid;
  }
  fieldset.group legend {
    margin-top: 10px;
    margin-bottom: 0px;
    padding: 0;
    font-weight: bold;
    font-size: 100%;
    color: black;
    text-align: center;
  }
  ul.checkbox  {
    margin: 0;
    padding: 0;
    margin-left: 5px;
  }
  ul li{
    font-size:14px;
    display:inline-block;
  }
  ul:hover li{
    cursor: pointer;
  }
  .checkbox {
    display: flex;
    flex-wrap: wrap;
  }
  .checkbox li {
    margin: 0 3px 0 3px;
    flex-basis: calc(50% - 6px);
  }
  .ingredientList {
    background-color: white;
    width: 70%;
    border: 2px solid #ffd999;
    border-radius: 5px;
    padding: 20px;
    padding-top: 0px;
    margin: auto;
  }

  .removeButton {
    padding: "0px";
    color: white;
    background-color: #C8C8C8;
    border: none;
    font-family: "Dosis", cursive, sans-serif;
    margin : "5px";
    display:block;
    margin: 0 auto;
  }
  /* ---------search bar--------*/
  input {
    margin: 10px;
    font-family: "Dosis", cursive, sans-serif;
    border: 1px solid transparent;
    background-color: #f1f1f1;
    padding: 10px;
    font-size: 16px;
    margin-left: 9%;
  }
  input[type=text] {
    background-color: white;
    width: 100%;
    margin-right: 5%
  }
  .add {
    font-family: "Dosis", cursive, sans-serif;
    background-color: #a7dba2;
    color: #fff;
    cursor: pointer;
    margin: 10px;
    border: 1px solid transparent;
    padding: 9px;
    font-size: 16px;
    width:25%;
    margin-left: 0;
    margin-right: 5%;
  }

  .add:disabled {
    font-family: "Dosis", cursive, sans-serif;
    background-color: lightgray;
    color: #eee;
    cursor:not-allowed;
    margin: 10px;
    border: 1px solid transparent;
    padding: 9px;
    font-size: 16px;
    width:25%;
    margin-left: 0;
    margin-right: 5%;
  }
  .help {
    font-family: "Dosis", cursive, sans-serif;
    background-color: #C0C0C0;
    color: white;
    margin: 10px;
    margin-left: 2px;
    margin-right: 4px;
    justify-content: center;
    align-items: center;
    padding: 6px;
    padding-right: 6px;
    text-align: center;
    height:29px;
    font-size: 25px;
  }
  .tooltip {
    position: relative;
  }
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: grey;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    font-size: 14px;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
  }
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }

  .validationError {
    font-family: "Dosis", cursive, sans-serif;
    border: 1px solid transparent;
    background-color: #f1f1f1;
    padding: 10px;
    font-size: 16px;
    margin-left: 9%;
    margin-right: 9%;
  }

  /*---------- filtersOn textbox ----------*/
  .filtersOn {
    margin:5%;
    margin-bottom: 2px;
    background-color: white;
  }
  .filtersText {
    padding: 2%;
  }

  /* ---------accordion ---------*/
.accordion {
  font-family: "Dosis", cursive, sans-serif;
  font-weight: bold;
  width: 90%;
  border: none;
  box-shadow: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  margin: 0px 5%;
}
.filler {
  line-height: 100px;
}
.foodOptions {
  font-family: "Dosis", cursive, sans-serif;
  background-color: #d4d8d8;
  border: none;
  color: black;
  padding: 5px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 5px 2.5px 5px 5px;
  cursor: pointer;
  border-radius: 8px;
}
  /* ---------animated effect for buttons--------*/
  .findRecipes span, .remove span, .add span{
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  .findRecipes span:after, .remove span:after, .add span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  .findRecipes:hover span , .remove:hover span, .add:hover span  {
    padding-right: 25px;
  }
  .findRecipes:hover span:after, .remove:hover span:after, .add:hover span:after{
    opacity: 1;
    right: 0;
  }


  /* ---------right scroll bar--------*/
  .right {
    margin-top: 10vh;
    height:90vh;
    background-color: #eff2ef;
    text-align: left;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    overflow-y: scroll;
    width: 70%;
  }

  .bannerBackground {
    margin: 1vw;
    background-color: white;
    border-style: solid;
    border-color: #D0D0D0;
    border-width: 2px;
  }


  #upButton {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #e6d6c0;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 4px;
  }

  #upButton:hover {
    background-color: #555;
  }
}