<!--<p>-->
  <!--I am the home component!-->
<!--</p>-->

<!--TODO: Fix all functions to work with angular instead of interacting with the old js file-->
<body>
<div class ="leftSide">

    <div style="text-align: center">
        <button class = "findRecipes" onclick = "display()"><span>Find me recipes! </span></button>
    </div>

        <!--Ingredients List -->
    <div class="ingredientList" style="text-align: center">
        <fieldset class="group">
            <legend>Ingredients List</legend>
            <ul class="checkbox" id="ingredientCheckbox">
                <li *ngFor="let ingredientName of ingredientList" (click)="removeIngredient(ingredientName)">
                    {{ingredientName}}
                </li>
            </ul>
            <div style="text-align:center; font-size:14px; padding: 10px;">
                <span style="color: grey; "><b> &#9432; Select items to remove OR </b></span>
                <button class = "removeButton" onclick="removeAllIngredients()"> Clear All </button>
            </div>
        </fieldset>
    </div>

    <!--Filters List-->
    <div class = "filtersOn">
        <div class = "filtersText">
            <b>Filters Applied:</b>
            <ul class = "checkbox" id = "filterSelection">
            </ul>
            <button class = "removeButton" onclick="removeAllFilters()"> Clear All </button>
        </div>
    </div>

    <!-- Search bar -->
    <form [formGroup]="ingredientForm" #formDir="ngForm">
        <div class="form-group">

            <button class="add" id = "add" style="float: right" [disabled]="!ingredientForm.valid" (click)="addToCheckBox(myInput.value); ingredientForm.reset()"><span> Add </span></button>
            <span class="help"  style="float: right" ><span class = "tooltip"> ? <span class="tooltiptext">Simply
                choose ingredients from the preloaded lists below and click to add to the ingredients list,
                or search for a total of 10 ingredients. </span></span></span>

            <div style="overflow: hidden; padding-right: 2.2em;">
                <input #myInput id="searchBar" placeholder="Search" formControlName="ingredientName" class="form-control"
                       spellcheck="true" type=text style="width: 97%">
            </div>

            <div *ngIf="ingredientName.invalid && (ingredientName.dirty || ingredientName.touched)" style="text-align: center">
                <div class="validationError" *ngIf="ingredientName.errors.required">
                    An ingredient is required.
                </div>
                <div class="validationError" *ngIf="ingredientName.errors.minlength">
                    Ingredient name must be at least 3 characters long.
                </div>
                <div class="validationError" *ngIf="ingredientName.errors.pattern">
                    Not a valid ingredient.
                </div>
            </div>

        </div>
    </form>

    <!--filtering selection-->
    <!--proteins selection-->
    <mat-expansion-panel class="accordion" [hideToggle]="true">

        <mat-expansion-panel-header style=background:#D1DEB3 [collapsedHeight]="'42px'" [expandedHeight]="'42px'">
            <mat-panel-title>
                Protein
            </mat-panel-title>
            <mat-icon>
                <img src="assets/meat.png" height="20" width="20" hspace="3" align="right">
            </mat-icon>
        </mat-expansion-panel-header>

        <button class="foodOptions" id = "beef" value="beef" (click)="addIngredientToggle($event)">beef</button>
        <button class="foodOptions" id = "chicken" value="chicken" (click)="addIngredientToggle($event)">chicken</button>
        <button class="foodOptions" id = "pork" value="pork" (click)="addIngredientToggle($event)">pork</button>
        <button class="foodOptions" id = "shrimp" value="shrimp" (click)="addIngredientToggle($event)">shrimp</button>
        <button class="foodOptions" id = "lamb" value="lamb" (click)="addIngredientToggle($event)">lamb</button>
        <button class="foodOptions" id = "salmon" value="salmon" (click)="addIngredientToggle($event)">salmon</button>
        <button class="foodOptions" id = "oyster" value="oyster" (click)="addIngredientToggle($event)">oyster</button>
        <button class="foodOptions" id = "clam" value="clam" (click)="addIngredientToggle($event)">clam</button>
        <button class="foodOptions" id = "lobster" value="lobster" (click)="addIngredientToggle($event)">lobster</button>
        <button class="foodOptions" id = "crab" value="crab" (click)="addIngredientToggle($event)">crab</button>
    </mat-expansion-panel>

    <!--vegetable selection-->
     <mat-expansion-panel class="accordion" [hideToggle]="true">

        <mat-expansion-panel-header style=background:#D2E6CC [collapsedHeight]="'42px'" [expandedHeight]="'42px'">
            <mat-panel-title>
                Vegetables
            </mat-panel-title>
            <mat-icon>
                <img src="assets/vegetable.png" height="18" width="18" hspace="3" align="right">
            </mat-icon>
        </mat-expansion-panel-header>

         <button class="foodOptions" id = "potato" value="potato" (click)="addIngredientToggle($event)">potato</button>
         <button class="foodOptions" id = "tomato" value="tomato" (click)="addIngredientToggle($event)">tomato</button>
         <button class="foodOptions" id = "onion" value="onion" (click)="addIngredientToggle($event)">onion</button>
         <button class="foodOptions" id = "carrot" value="carrot" (click)="addIngredientToggle($event)">carrot</button>
         <button class="foodOptions" id = "lettuce" value="lettuce" (click)="addIngredientToggle($event)">lettuce</button>
         <button class="foodOptions" id = "broccoli" value="broccoli" (click)="addIngredientToggle($event)">broccoli</button>
         <button class="foodOptions" id = "green bell pepper" value="green bell pepper" (click)="addIngredientToggle($event)">green bell pepper</button>
         <button class="foodOptions" id = "red bell pepper" value="red bell pepper" (click)="addIngredientToggle($event)">red bell pepper</button>
         <button class="foodOptions" id = "yellow bell pepper" value="yellow bell pepper" (click)="addIngredientToggle($event)">yellow bell pepper</button>
         <button class="foodOptions" id = "celery" value="celery" (click)="addIngredientToggle($event)">celery</button>
         <button class="foodOptions" id = "cucumber" value="cucumber" (click)="addIngredientToggle($event)">cucumber</button>
         <button class="foodOptions" id = "corn" value="corn" (click)="addIngredientToggle($event)">corn</button>
         <button class="foodOptions" id = "garlic" value="garlic" (click)="addIngredientToggle($event)">garlic</button>
         <button class="foodOptions" id = "spinach" value="spinach" (click)="addIngredientToggle($event)">spinach</button>
         <button class="foodOptions" id = "mushroom" value="mushroom" (click)="addIngredientToggle($event)">mushroom</button>
         <button class="foodOptions" id = "zucchini" value="zucchini" (click)="addIngredientToggle($event)">zucchini</button>
         <button class="foodOptions" id = "kale" value="kale" (click)="addIngredientToggle($event)">kale</button>
         <button class="foodOptions" id = "brussels sprouts" value="brussels sprouts" (click)="addIngredientToggle($event)">brussel sprouts</button>

    </mat-expansion-panel>


    <!--Fruits-->
    <mat-expansion-panel class="accordion" [hideToggle]="true">

        <mat-expansion-panel-header style=background:#D7E7E2 [collapsedHeight]="'42px'" [expandedHeight]="'42px'">
            <mat-panel-title>
                Fruits
            </mat-panel-title>
            <mat-icon>
                <img src="assets/fruit.png" height="22" width="18" hspace="3" align="right">
            </mat-icon>
        </mat-expansion-panel-header>

        <button class="foodOptions" id = "banana" value="banana" (click)="addIngredientToggle($event)">banana</button>
        <button class="foodOptions" id = "apple" value="apple" (click)="addIngredientToggle($event)">apple</button>
        <button class="foodOptions" id = "grape" value="grapes" (click)="addIngredientToggle($event)">grapes</button>
        <button class="foodOptions" id = "strawberry" value="strawberry" (click)="addIngredientToggle($event)">strawberry</button>
        <button class="foodOptions" id = "orange" value="orange" (click)="addIngredientToggle($event)">orange</button>
        <button class="foodOptions" id = "watermelon" value="watermelon" (click)="addIngredientToggle($event)">watermelon</button>
        <button class="foodOptions" id = "blueberry" value="blueberry" (click)="addIngredientToggle($event)">blueberry</button>
        <button class="foodOptions" id = "peach" value="peach" (click)="addIngredientToggle($event)">peach</button>
        <button class="foodOptions" id = "cantaloupe" value="cantaloupe" (click)="addIngredientToggle($event)">cantaloupe</button>
        <button class="foodOptions" id = "avocado" value="avocado" (click)="addIngredientToggle($event)">avocado</button>
        <button class="foodOptions" id = "pineapple" value="pineapple" (click)="addIngredientToggle($event)">pineapple</button>
        <button class="foodOptions" id = "cherry" value="cherry" (click)="addIngredientToggle($event)">cherry</button>

    </mat-expansion-panel>

    <!--Dairy-->
    <mat-expansion-panel class="accordion" [hideToggle]="true">

        <mat-expansion-panel-header style=background:#d1e0e0 [collapsedHeight]="'42px'" [expandedHeight]="'42px'">
            <mat-panel-title>
                Dairy
            </mat-panel-title>
            <mat-icon>
                <img src="assets/dairy.png" height="20" width="20" hspace="3" align="right">
            </mat-icon>
        </mat-expansion-panel-header>

        <button class="foodOptions" id = "butter" value="butter" (click)="addIngredientToggle($event)">butter</button>
        <button class="foodOptions" id = "evaporated milk" value="evaporated milk" (click)="addIngredientToggle($event)">evaporated milk</button>
        <button class="foodOptions" id = "milk" value="milk" (click)="addIngredientToggle($event)">milk</button>
        <button class="foodOptions" id = "sour cream" value="sour cream" (click)="addIngredientToggle($event)">sour cream</button>
        <button class="foodOptions" id = "feta" value="feta" (click)="addIngredientToggle($event)">feta</button>
        <button class="foodOptions" id = "cheddar cheese" value="cheddar cheese" (click)="addIngredientToggle($event)">cheddar cheese</button>
        <button class="foodOptions" id = "cream cheese" value="cream cheese" (click)="addIngredientToggle($event)">cream cheese</button>

    </mat-expansion-panel>


    <!--Spices and Herbs-->
    <mat-expansion-panel class="accordion" [hideToggle]="true">

        <mat-expansion-panel-header style=background:#d6e2f1 [collapsedHeight]="'42px'" [expandedHeight]="'42px'">
            <mat-panel-title>
                Spices and Herbs
            </mat-panel-title>
            <mat-icon>
                <img src="assets/spices.png" height="18" width="18" hspace="3" align="right">
            </mat-icon>
        </mat-expansion-panel-header>

        <button class="foodOptions" id = "allspice" value="allspice" (click)="addIngredientToggle($event)">allspice</button>
        <button class="foodOptions" id = "bay leaf" value="bay leaf" (click)="addIngredientToggle($event)">bay leaf</button>
        <button class="foodOptions" id = "basil" value="basil" (click)="addIngredientToggle($event)">basil</button>
        <button class="foodOptions" id = "cardamom" value="cardamom" (click)="addIngredientToggle($event)">cardamom</button>
        <button class="foodOptions" id = "cayenne" value="cayenne pepper" (click)="addIngredientToggle($event)">cayenne pepper</button>
        <button class="foodOptions" id = "cilantro" value="cilantro" (click)="addIngredientToggle($event)">cilantro</button>
        <button class="foodOptions" id = "cinnamon" value="cinnamon" (click)="addIngredientToggle($event)">cinnamon</button>
        <button class="foodOptions" id = "cloves" value="cloves" (click)="addIngredientToggle($event)">cloves</button>
        <button class="foodOptions" id = "coriander" value="coriander seed" (click)="addIngredientToggle($event)">coriander seed</button>
        <button class="foodOptions" id = "cumin" value="cumin" (click)="addIngredientToggle($event)">cumin</button>
        <button class="foodOptions" id = "fennel" value="fennel seed" (click)="addIngredientToggle($event)">fennel seed</button>
        <button class="foodOptions" id = "mint" value="mint" (click)="addIngredientToggle($event)">mint</button>
        <button class="foodOptions" id = "nutmeg" value="nutmeg" (click)="addIngredientToggle($event)">nutmeg</button>
        <button class="foodOptions" id = "oregano" value="oregano" (click)="addIngredientToggle($event)">oregano</button>
        <button class="foodOptions" id = "rosemary" value="rosemary" (click)="addIngredientToggle($event)">rosemary</button>
        <button class="foodOptions" id = "sage" value="sage" (click)="addIngredientToggle($event)">sage</button>
        <button class="foodOptions" id = "paprika" value="paprika" (click)="addIngredientToggle($event)">paprika</button>
        <button class="foodOptions" id = "turmeric" value="turmeric" (click)="addIngredientToggle($event)">tumeric</button>
        <button class="foodOptions" id = "thyme" value="thyme" (click)="addIngredientToggle($event)">thyme</button>
    </mat-expansion-panel>

    <div> &nbsp; </div>

    <!--Allergies-->
    <mat-expansion-panel class="accordion" [hideToggle]="true">

        <mat-expansion-panel-header style=background:#ddd2e0 [collapsedHeight]="'42px'" [expandedHeight]="'42px'">
            <mat-panel-title>
                Allergies
            </mat-panel-title>
            <mat-icon>
                <img src="assets/allergies.png" height="18" width="18" hspace="3" align="right">
            </mat-icon>
        </mat-expansion-panel-header>

        <button class="foodOptions" id = "dairy" value="Dairy-Free" (click)="addGenericFilter(this.id)">dairy</button>
        <button class="foodOptions" id = "egg" value="Egg-Free" (click)="addGenericFilter(this.id)">egg</button>
        <button class="foodOptions" id = "gluten" value="Gluten-Free" (click)="addGenericFilter(this.id)">gluten</button>
        <button class="foodOptions" id = "peanut" value="Peanut-Free" (click)="addGenericFilter(this.id)">peanut</button>
        <button class="foodOptions" id = "seafood" value="Seafood-Free" (click)="addGenericFilter(this.id)">seafood</button>
        <button class="foodOptions" id = "sesame" value="Sesame-Free" (click)="addGenericFilter(this.id)">sesame</button>
        <button class="foodOptions" id = "soy" value="Soy-Free" (click)="addGenericFilter(this.id)">soy</button>
        <button class="foodOptions" id = "sulfite" value="Sulfite-Free" (click)="addGenericFilter(this.id)">sulfite</button>
        <button class="foodOptions" id = "treenut" value="Tree Nut-Free" (click)="addGenericFilter(this.id)">tree nut</button>
        <button class="foodOptions" id = "wheat" value="Wheat-Free" (click)="addGenericFilter(this.id)">wheat</button>
    </mat-expansion-panel>

    <!--Dietary Restrictions-->
    <mat-expansion-panel class="accordion" [hideToggle]="true">

        <mat-expansion-panel-header style=background:#e9dde7 [collapsedHeight]="'42px'" [expandedHeight]="'42px'">
            <mat-panel-title>
                Dietary Restrictions
            </mat-panel-title>
            <mat-icon>
                <img src="assets/dietaryRestrictions.png" height="18" width="18" hspace="3" align="right">
            </mat-icon>
        </mat-expansion-panel-header>

        <button class="foodOptions" id = "lacto" value="Lacto vegetarian" (click)="addDietFilter(this.id)">lacto vegetarian</button>
        <button class="foodOptions" id = "ovo" value="Ovo vegetarian" (click)="addDietFilter(this.id)">ovo vegetarian</button>
        <button class="foodOptions" id = "pesc" value="Pescetarian" (click)="addDietFilter(this.id)">pescatarian</button>
        <button class="foodOptions" id = "vegan" value="Vegan" (click)="addDietFilter(this.id)">vegan</button>
        <button class="foodOptions" id = "veg" value="Lacto-ovo vegetarian" (click)="addDietFilter(this.id)">vegetarian</button>
        <div>&nbsp; &nbsp;*Limit 1</div>

    </mat-expansion-panel>

    <!--Cuisines-->
    <mat-expansion-panel class="accordion" [hideToggle]="true">

        <mat-expansion-panel-header style=background:#ffd7d3 [collapsedHeight]="'42px'" [expandedHeight]="'42px'">
            <mat-panel-title>
                Cuisines
            </mat-panel-title>
            <mat-icon>
                <img src="assets/cuisine.png" height="20" width="20" hspace="3" align="right">
            </mat-icon>
        </mat-expansion-panel-header>

        <button class="foodOptions" id = "american" value="American" (click) = "addGenericFilter(this.id)">American</button>
        <button class="foodOptions" id = "italian" value="Italian" (click) = "addGenericFilter(this.id)">Italian</button>
        <button class="foodOptions" id = "asian" value="Asian" (click) = "addGenericFilter(this.id)">Asian</button>
        <button class="foodOptions" id = "mexican" value="Mexican" (click) = "addGenericFilter(this.id)">Mexican</button>
        <button class="foodOptions" id = "southern" value="Southern" (click) = "addGenericFilter(this.id)">Southern & Soul Food</button>
        <button class="foodOptions" id = "french" value="French" (click) = "addGenericFilter(this.id)">French</button>
        <button class="foodOptions" id = "southwestern" value="Southwestern" (click) = "addGenericFilter(this.id)">Southwestern</button>
        <button class="foodOptions" id = "bbq" value="Barbecue-bbq" (click) = "addGenericFilter(this.id)">Barbecue</button>
        <button class="foodOptions" id = "indian" value="Indian" (click) = "addGenericFilter(this.id)">Indian</button>
        <button class="foodOptions" id = "chinese" value="Chinese" (click) = "addGenericFilter(this.id)">Chinese</button>
        <button class="foodOptions" id = "cajun" value="Cajun" (click) = "addGenericFilter(this.id)">Cajun & Creole</button>
        <button class="foodOptions" id = "english" value="English" (click) = "addGenericFilter(this.id)">English</button>
        <button class="foodOptions" id = "mediterranean" value="Mediterranean" (click) = "addGenericFilter(this.id)">Mediterranean</button>
        <button class="foodOptions" id = "greek" value="Greek" (click) = "addGenericFilter(this.id)">Greek</button>
        <button class="foodOptions" id = "spanish" value="Spanish" (click) = "addGenericFilter(this.id)">Spanish</button>
        <button class="foodOptions" id = "german" value="German" (click) = "addGenericFilter(this.id)">German</button>
        <button class="foodOptions" id = "thai" value="Thai" (click) = "addGenericFilter(this.id)">Thai</button>
        <button class="foodOptions" id = "moroccan" value="Moroccan" (click) = "addGenericFilter(this.id)">Moroccan</button>
        <button class="foodOptions" id = "irish" value="Irish" (click) = "addGenericFilter(this.id)">Irish</button>
        <button class="foodOptions" id = "japanese" value="Japanese" (click) = "addGenericFilter(this.id)">Japanese</button>
        <button class="foodOptions" id = "cuban" value="Cuban" (click) = "addGenericFilter(this.id)">Cuban</button>
        <button class="foodOptions" id = "hawaiin" value="Hawaiian" (click) = "addGenericFilter(this.id)">Hawaiin</button>
        <button class="foodOptions" id = "sweedish" value="Swedish" (click) = "addGenericFilter(this.id)">Swedish</button>
        <button class="foodOptions" id = "hungarian" value="Hungarian" (click) = "addGenericFilter(this.id)">Hungarian</button>
        <button class="foodOptions" id = "portugese" value="Portugese" (click) = "addGenericFilter(this.id)">Portugese</button>

    </mat-expansion-panel>

    <!--Course-->
    <mat-expansion-panel class="accordion" [hideToggle]="true">

        <mat-expansion-panel-header style=background:#ffe1cc [collapsedHeight]="'42px'" [expandedHeight]="'42px'">
            <mat-panel-title>
                Course
            </mat-panel-title>
            <mat-icon>
                <img src="assets/course.png" height="20" width="20" hspace="3" align="right">
            </mat-icon>
        </mat-expansion-panel-header>

        <button class="foodOptions" id = "main" value="Main Dishes" (click) = "addGenericFilter(this.id)">Main Dishes</button>
        <button class="foodOptions" id = "dessert" value="Desserts" (click) = "addGenericFilter(this.id)">Desserts</button>
        <button class="foodOptions" id = "sideDish" value="Side Dishes" (click) = "addGenericFilter(this.id)">Side Dishes</button>
        <button class="foodOptions" id = "lunchAndSnack" value="Lunch and Snacks" (click) = "addGenericFilter(this.id)">Lunch and Snacks</button>
        <button class="foodOptions" id = "appetizer" value="Appetizers" (click) = "addGenericFilter(this.id)">Appetizers</button>
        <button class="foodOptions" id = "salad" value="Salads" (click) = "addGenericFilter(this.id)">Salads</button>
        <button class="foodOptions" id = "bread" value="Breads" (click) = "addGenericFilter(this.id)">Breads</button>
        <button class="foodOptions" id = "breakfast" value="Breakfast and Brunch" (click) = "addGenericFilter(this.id)">Breakfast and Brunch</button>
        <button class="foodOptions" id = "soup" value="Soups" (click) = "addGenericFilter(this.id)">Soups</button>
        <button class="foodOptions" id = "beverage" value="Beverages" (click) = "addGenericFilter(this.id)">Beverages</button>
        <button class="foodOptions" id = "condiment" value="Condiments and Sauces" (click) = "addGenericFilter(this.id)">Condiments and Sauces</button>
        <button class="foodOptions" id = "cocktail" value="Cocktails" (click) = "addGenericFilter(this.id)">Cocktails</button>

    </mat-expansion-panel>

    <!--Prep + Cook Time-->
    <mat-expansion-panel class="accordion" [hideToggle]="true">

        <mat-expansion-panel-header style=background:#f6eecc [collapsedHeight]="'42px'" [expandedHeight]="'42px'">
            <mat-panel-title>
                Prep + Cook time
            </mat-panel-title>
            <mat-icon>
                <img src="assets/time.png" height="20" width="20" hspace="3" align="right">
            </mat-icon>
        </mat-expansion-panel-header>

        <button class="foodOptions" id = "30mins" value="max of 30 minutes" (click)="addTimeFilter(this.id)">max of 30 mins.</button>
        <button class="foodOptions" id = "1hr" value="max of 1 hour" (click)="addTimeFilter(this.id)">max of 1 hour</button>
        <button class="foodOptions" id = "1.5hr" value="max of 1.5 hours" (click)="addTimeFilter(this.id)">max of 1.5 hours</button>
        <button class="foodOptions" id = "2hr" value="max of 2 hours" (click)="addTimeFilter(this.id)">max of 2 hours</button>
        <div>&nbsp; &nbsp;*Limit 1</div>

    </mat-expansion-panel>
    <!--filtering selection -->
    <!--<button class="accordion" style = background:#D1DEB3 >Protein<img src = "assets/meat.png" height="20" width="20" hspace="3" align= "right"></button>-->
    <!--<div class="panel">-->
    <!--</div>-->

</div>
</body>
