<!--<p>-->
  <!--I am the home component!-->
<!--</p>-->

<!--TODO: Fix all functions to work with angular instead of interacting with the old js file-->
<body>
<div class ="leftSide">

    <div style="text-align: center">
        <button class = "findRecipes" onclick = "display()"><span>Find me recipes! </span></button>
    </div>

        <!--Ingredients List -->
    <div class="ingredientList" style="text-align: center">
        <fieldset class="group">
            <legend>Ingredients List</legend>
            <ul class="checkbox" id="ingredientCheckbox">
            </ul>
            <div style="text-align:center; font-size:14px; padding: 10px;">
                <span style="color: grey; "><b> &#9432; Select items to remove OR </b></span>
                <button class = "removeButton" onclick="removeAllIngredients()"> Clear All </button>
            </div>
        </fieldset>
    </div>

    <!--Filters List-->
    <div class = "filtersOn">
        <div class = "filtersText">
            <b>Filters Applied:</b>
            <ul class = "checkbox" id = "filterSelection">
            </ul>
            <button class = "removeButton" onclick="removeAllFilters()"> Clear All </button>
        </div>
    </div>

    <!-- Search bar -->
    <form [formGroup]="ingredientForm" #formDir="ngForm">
        <div class="form-group">

            <button class="add" id = "add" style="float: right" [disabled]="!ingredientForm.valid" (click)="addToCheckBox(myInput.value)"><span> Add </span></button>
            <span class="help"  style="float: right" ><span class = "tooltip"> ? <span class="tooltiptext">Simply
                choose ingredients from the preloaded lists below and click to add to the ingredients list,
                or search for a total of 10 ingredients. </span></span></span>

            <div style="overflow: hidden; padding-right: 2.2em;">
                <input #myInput id="searchBar" placeholder="Search" formControlName="ingredientName" class="form-control"
                       spellcheck="true" style="width: 97%">
            </div>

            <div *ngIf="ingredientName.invalid && (ingredientName.dirty || ingredientName.touched)" style="text-align: center">
                <div class="validationError" *ngIf="ingredientName.errors.required">
                    An ingredient is required.
                </div>
                <div class="validationError" *ngIf="ingredientName.errors.minlength">
                    Ingredient name must be at least 3 characters long.
                </div>
                <div class="validationError" *ngIf="ingredientName.errors.pattern">
                    Not a valid ingredient.
                </div>
            </div>

        </div>
    </form>

    <mat-expansion-panel class="accordion" [hideToggle]="true">

        <mat-expansion-panel-header style=background:#D1DEB3 [collapsedHeight]="'50px'" [expandedHeight]="'50px'">
            <mat-panel-title>
                Protein
            </mat-panel-title>
            <mat-icon>
                <img src="assets/meat.png" height="20" width="20" hspace="3" align="right">
            </mat-icon>
        </mat-expansion-panel-header>

        <button class="foodOptions" id = "beef" value="beef" onclick="addIngredient(this.id)">beef</button>
        <button class="foodOptions" id = "chicken" value="chicken" onclick="addIngredient(this.id)">chicken</button>
        <button class="foodOptions" id = "pork" value="pork" onclick="addIngredient(this.id)">pork</button>
        <button class="foodOptions" id = "shrimp" value="shrimp" onclick="addIngredient(this.id)">shrimp</button>
        <button class="foodOptions" id = "lamb" value="lamb" onclick="addIngredient(this.id)">lamb</button>
        <button class="foodOptions" id = "salmon" value="salmon" onclick="addIngredient(this.id)">salmon</button>
        <button class="foodOptions" id = "oyster" value="oyster" onclick="addIngredient(this.id)">oyster</button>
        <button class="foodOptions" id = "clam" value="clam" onclick="addIngredient(this.id)">clam</button>
        <button class="foodOptions" id = "lobster" value="lobster" onclick="addIngredient(this.id)">lobster</button>
        <button class="foodOptions" id = "crab" value="crab" onclick="addIngredient(this.id)">crab</button>

    </mat-expansion-panel>

    <!--filtering selection -->
    <!--<button class="accordion" style = background:#D1DEB3 >Protein<img src = "assets/meat.png" height="20" width="20" hspace="3" align= "right"></button>-->
    <!--<div class="panel">-->
    <!--</div>-->

</div>
</body>
